.usersInRoomContainer {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #D3D3D3;
  color: white;
  height: 60%;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .usersInRoomContainer {
    display: none;
  }
} 

.usersInRoomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #45295d;
  height: 60px;
  width: 100%;
  padding: 0 10px 0 10px;
}

.usersInRoomList {
  background: #FFFFFF;
  height: 100%;
}

.usersInRoomUser {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.usersInRoomUser img {
  padding-left: 10px;
}

.usersInRoomUser p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #353535;
}